<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>getForm</title>
  </head>
  <body>
    <div><span> 이름: <%= userInfo.id %> </span></div>
    <div><span>성별: <%= userInfo.gender %></span></div>
    <div>
      <span
        >생년월일: <%= userInfo.year %>년 <%= userInfo.month %>월 <%=
        userInfo.day %>일
      </span>
    </div>
    <div><span>관심사: <%= userInfo.inter %></span></div>
  </body>
</html>
